.root {
    -fx-background-color: #1b323c;
}

.side-menu {
    -fx-background-color: #122830;
    -fx-padding: 40 0 30 0;
    -fx-alignment: center;
}

.side-button {
    -fx-background-color: #ff6b00;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-pref-width: 220;
    -fx-pref-height: 45;
}

.exit-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-pref-width: 220;
    -fx-pref-height: 45;
    -fx-margin-bottom: 20;
}

.center-panel {
    -fx-background-color: #2c4a5a;
    -fx-padding: 50;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.welcome-text {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.subtext {
    -fx-text-fill: #dddddd;
    -fx-font-size: 14px;
}
